$ff-heading: "iCiel Begum";
$ff-body: "SF Pro Display";
$bg-primary: linear-gradient(274.3deg, #2a5ccc 24.41%, #0aadc6 93.2%);
$cl-title: #005197;
$cl-body-text: #495176;
$cl-sub-title: #878da4;
$cl-main-bg: #e5e5e5;
$cl-light: #f1f1f1;
