* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header {
    width: 100%;
    background: linear-gradient(274.3deg, #2a5ccc 24.41%, #0aadc6 93.2%);
    height: 120px;
}
.header__navbar {
    /* margin: 0 -20px; */
}
.header__wrap {
    height: 100%;
    display: flex;
}
.header__logo {
    width: 92px;
    height: 92px;
    margin-top: 18px;
    margin-bottom: 10px;
}
.header__info {
    margin-top: 34px;
    margin-left: 16px;
}
.header__brand-name {
    font-family: "iCiel Begum";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
}
.navbar__list {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.navbar__list .subnav {
    display: none;
    background: linear-gradient(274.3deg, #2a5ccc 24.41%, #0aadc6 93.2%);
    margin-bottom: 0;
    position: absolute;
    z-index: 99999;
    left: 50%;
    top: calc(100% + 6px);
    transform: translateX(-50%);
    width: calc(100% + 48px);
    text-align: center;
}

.navbar__list .navbar__item:hover .subnav {
    display: block;
}
.subnav__item {
    padding: 6px 8px;
}
.subnav__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subnav .subnav__item .subnav__link {
    display: block;
}
.navbar__list .navbar__item .navbar__item-link {
    display: inline-block;
}
.navbar__list .navbar__item .navbar__item-link,
.subnav .subnav__item .subnav__link {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
a.navbar__item-link:hover,
a.subnav__link:hover {
    color: #ffffff;
}
.navbar__list > .navbar__item:hover > .navbar__item-link,
.navbar__list > .navbar__item:hover > .navbar__item-icon,
.navbar__list .subnav .subnav__item:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #ffffff;
}
.navbar__list > li {
    position: relative;
    display: inline-block;
    color: #ffffff;
}
.navbar__list > .navbar__item:hover::after {
    position: absolute;
    content: "";
    border: 4px solid transparent;
    bottom: -6px;
    width: calc(100% + 48px);
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}
/* HEADER */

/* MAIN */
.main {
    padding: 16px 0 72px;
    background-color: #e5e5e5;
}

.content {
    /* height: 1500px; */
}
.content__panel {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 16px;
}
.content__panel-wrap {
    margin: 0 16px;
    padding: 16px 0;
}
.content__title {
    position: relative;
    font-family: "iCiel Begum";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #005197;
    margin-bottom: 16px;
    max-width: 250px;
    margin-top: 8px;
}
.content__title::before {
    position: absolute;
    content: "";
    border-left: 2px solid red;
    height: calc(100% - 6px);
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
}

/* LEFT */
.content__left {
}
.content__left-background {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(./image/left_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.connect__list {
    display: flex;
    justify-content: space-between;
}
.connect__list > li {
    display: inline-block;
}
.connect__list-item {
}
.connect__logo:hover {
    opacity: 0.7;
}
.connect__logo-link {
}
.connect__logo-img {
}
.content__left-description {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #495176;
}

/* CENTER */
.content__center {
    margin: 0 16px;
}
.slider__wrap {
    position: relative;
    padding-top: 40%;
    margin-bottom: 16px;
}
.slider__img {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center__header {
    display: flex;
    align-items: center;
}
.center__header-tag {
    position: absolute;
    background-color: #e50009;
    width: 20px;
    height: 20px;
    left: 0;
}
.center__header-tag::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-right: 0;
    border-left: 8px solid #e50009;
    left: 100%;
}
.center__header-title {
    text-transform: uppercase;
    font-family: "iCiel Begum";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #005197;
    margin-bottom: 0;
    margin-left: 30px;
}
.center__panel-wrap {
    padding: 12px 20px;
    position: relative;
}
.center__item {
    margin-bottom: 20px;
    position: relative;
}
.center__wrap {
}
.center__tag {
    display: none;
}
.center__wrap-img {
    position: relative;
    padding-top: 40%;
}
.center__img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.center__title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #005197;
    margin-top: 8px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.center__info {
    margin-top: 8px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.04em;
    color: #878da4;
    position: relative;
    justify-content: space-between;
}
.center__time {
    position: relative;
    margin-right: 12px;
    margin-bottom: 0;
    display: inline-block;
}
.center__time::after {
    position: absolute;
    content: "";
    height: 10px;
    border-left: 1px solid #878da4;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6px;
}
.center__author {
    margin-bottom: 0;
    display: inline-block;
}
.center__description {
    display: none;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.05em;
    text-align: justify;
    color: #495176;
    margin-bottom: 20px;
    margin-top: 8px;
}
.center__item.active {
    margin-top: 12px;
    margin-bottom: 48px;
}
.center__item.active .center__title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 8px 0;
}
.center__item.active .center__description {
    display: block;
}
.center__item.active::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.more-btn__wrap {
    display: flex;
    margin: 18px 0;
}
.more-btn {
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #005197;
    border: 1px solid #005197;
    border-radius: 2px;
    padding: 10px 36px;
}
.more-btn:hover {
    opacity: 0.8;
    color: #005197;
}
/* CENTER */

/* RIGHT */
.content__right {
    height: 500px;
}
.right__list-wrap {
}
.right__list {
    margin-bottom: 0;
}
li.right__list-item {
    margin: 20px 0;
}
li.right__list-item:last-child {
    margin-bottom: 0;
}
.right__list-item__link {
    text-decoration: none;
}
/* .right__list-item:hover {
    background-color: #ffd3d3;
} */
.item__wrap {
    display: flex;
}
.item__img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}
.item__info {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item__name {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #495176;
}
.item__description {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.04em;
    color: #878da4;
    white-space: nowrap;
    /* text-overflow: ellipsis;
    overflow: hidden; */
}
.member-list__item {
    margin-top: 8px;
}
.member-list__item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 8px;
}
.member-list__item:hover .member-item__link {
    color: #878da4;
    opacity: 0.7;
}
.member-item__link {
    text-decoration: none;
    position: relative;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #878da4;
}
/* RIGHT */

/* FOOTER */

.footer {
    background: linear-gradient(274.3deg, #2a5ccc 24.41%, #0aadc6 93.2%);
    padding: 30px 0;
    display: flex;
    position: relative;
}
.footer__wrap {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .footer__bg {
    position: absolute;
} */
.footer__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer__logo-wrap {
    position: relative;
    width: 140px;
    height: 140px;
}
.footer__logo-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer__brand-name {
    font-family: "iCiel Begum";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    margin: 20px 0 16px;
}
.footer__copyright {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 8px;
}
.footer__nav {
    margin-bottom: 0;
}
.footer__nav-item {
    position: relative;
    display: inline;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
    padding-right: 8px;
}
.footer__nav-item:not(:last-child):after {
    position: absolute;
    content: "";
    right: 0;
    border-right: 1px solid #ffffff;
    height: calc(100% - 4px);
    top: 50%;
    transform: translateY(-50%);
}
.footer__nav-link {
    color: #ffffff;
    text-decoration: none;
}
.footer__nav-link:hover {
    color: #ffffff;
    opacity: 0.7;
}
/* FOOTER */
