* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    margin: 0 30px;
}

/* HEADER */
.header {
    position: relative;
    display: flex;
    margin: 16px 0;
    align-items: center;
}

.header__tag {
    position: relative;
    background-color: #e50009;
    width: 32px;
    height: 32px;
    left: 0;
}

.header__tag::after {
    position: absolute;
    content: "";
    border: 16px solid transparent;
    border-right: 0;
    border-left: 16px solid #e50009;
    left: 100%;
}

.header__title {
    color: #065291;
    text-transform: uppercase;
    margin-left: 52px;
    font-size: 62px;
}

/* CONTENT */
.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

/* ACTIVE CONTENT */
.content__item.active .content__description {
    display: block;
}
.content__item.active .content__tag {
    display: block;
}
.content__item.active {
    width: 100%;
    margin-bottom: 36px;
}
.content__item.active > .content__title {
    text-transform: uppercase;
    font-size: 32px;
}

.content__item {
    width: 50%;
    margin-bottom: 20px;
}
.content__wrap {
    margin: 0 15px;
}
.content__item:first-child::after {
    position: absolute;
    content: "";
    border: 1px solid #ebebeb;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}
.content__tag {
    display: none;
    position: absolute;
    background-color: #005298;
    border-radius: 5px;
    left: 32px;
    top: 16px;
    color: #ffffff;
    padding: 12px 28px;
    font-size: 20px;
    z-index: 99999;
}
.content__wrap-img {
    position: relative;
    padding-top: 56%;
}
.content__img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__title {
    color: #1a86ce;
    margin: 12px 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__info {
    color: #adacb3;
    margin-bottom: 8px;
    font-size: 18px;
}
.content__time {
    display: inline;
    position: relative;
    margin-right: 10px;
}
.content__time::after {
    position: absolute;
    content: "";
    border-right: 1px solid #adacb3;
    margin-left: 10px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.content__author {
    margin-left: 8px;
    display: inline;
}
.content__description {
    display: none;
    color: #646372;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: justify;
}

/* FOOTER */
.footer {
    display: flex;
    margin: 16px 0 48px;
}
.btn-more {
    margin: auto;
    color: #1a86ce;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #1a86ce;
    padding: 16px 56px;
    font-size: 24px;
    font-weight: bold;
}
